language: go
dist: trusty

env:
  global:
    - VCONSUL=0.6.4
    - VETCD=2.1.1
    - KV=consul

go:
  - 1.5
  - 1.6
  - tip

matrix:
  allow_failures:
    - go: tip

before_install:
  - sudo apt-get install realpath bsdtar
  - go get github.com/alecthomas/gometalinter
  - gometalinter --install --update
  - mkdir -p $HOME/bin
  - curl -L "https://releases.hashicorp.com/consul/$VCONSUL/consul_${VCONSUL}_linux_amd64.zip" | bsdtar -xf- -C$HOME/bin && chmod +x $HOME/bin/consul
  - curl -L "https://github.com/coreos/etcd/releases/download/v$VETCD/etcd-v$VETCD-linux-amd64.tar.gz" | bsdtar -xf- -C$HOME/bin --strip-components=1 etcd-v$VETCD-linux-amd64/etcd

install:
  - go get -t -v ./...
  - docker pull mistifyio/mistify-os:latest

script:
  - make -j$(($(nproc) + 1)) test

after_success:
  # This first gometalinter call is meant to be required but there are a few linter errors that we dont want to hit.
  # This will later be brought up to the `script` section, once there is a way to pass gometalinter exclude patterns from a file.
  - gometalinter --disable-all --enable={errcheck,gofmt,goimports,golint,vet,vetshadow} --deadline=30s --concurrency=$(($(nproc) + 1)) ./...
  - gometalinter --disable={errcheck,gofmt,golint,vet,vetshadow} --deadline=30s --concurrency=$(($(nproc) + 1)) ./...

notifications:
  email: false
  slack:
    secure: "fkjn3Z/JEnwC3obzVg0QvwTb3g/7Tgc/IZkL3StLqSQYrEfHQDqs2a7v4s2NjDjYM3QJ3suYsgqO66y5ADiIZFUBoKcvTb7e19GmAmHET1++DV/V0JT3f2llRarplS4RyxSiqICXF5p9iiAk44wTo5f5pbSTCf7h8k10Df0rfwL3OLp4LH56uLZ3vFXCUMTbLEjn8k0DfuaDxS5y1A9QaxBr8NnOSCsatvknHofOmP+1GzPfy9WEzGCI02oIhpxmQHB3V1T9v7MP8rVnto2ek0H3robScNqqTSB/vXf2922dZgStE9aimEu0RsDEqAfJYWIPVzCiUw4jExYXNfjl6n9Uek4XIepSr8ST4Yqrz4zEwXRRN8skgNYfDQEkPmb+mEnhS0A4yU27eqMPbrVPWNVhyBgGdBF1ZvlMWGP62nEDXZ95QHcLrLOeQKVdcFi+CKLmZmXRdrbe5P593Q0tpPJ9OAva/622M7ARrImaP5WTTfQfTB1p0mq2FAz+0CaRpq7w4R0jglR/Lzy7cJCKs9CtZ8SdiRv7DZzAuU9nZJ+rit07KhlehhSjxEcjxNI7CSDIzVNK4ihruiRi12WTS5ELxE3wheSXcgOs+zMZOG4U5p5bj9yoBK4v8N7eHPGLE8oD/Do6aZ0QjEGGhLnoIplgAbEdiXykYVt0QPZjNzY="
